@model IEnumerable<Employee>;
@{
    ViewData["Title"] = "Employee";
}

<h1 class="mb-3">Department</h1>
<br />
<a asp-action="Create" class="btn btn-success">Add new Employee</a>

@if (Model.Count() > 0) // happy senario
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d => d.Name)</th>
                <th>@Html.DisplayNameFor(d => d.Age)</th>
                <th>@Html.DisplayNameFor(d => d.Adress)</th>
                <th>@Html.DisplayNameFor(d => d.Email)</th>
                <th>@Html.DisplayNameFor(d => d.PhoneNumbers)</th>
                <th>@Html.DisplayNameFor(d => d.HirDate)</th>
                <th>@Html.DisplayNameFor(d => d.Department)</th>
                <th>@Html.DisplayNameFor(d => d.Salary)</th>
                <th>@Html.DisplayNameFor(d => d.IsActive)</th>

                <th>Details</th>
                <th>update</th>
                <th>delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Employee in Model)
            {
                <tr>
                    <td>@Employee.Name</td>
                    <td>@Employee.Age</td>
                    <td>@Employee.Adress</td>
                    <td>@Html.DisplayFor(E=>Employee.Email)</td>
                    <td>@Employee.PhoneNumbers</td>
                    <td>@Employee.HirDate</td>
                    <td>@Html.DisplayFor(E => Employee.Department.Name)</td>

                    <td>@Html.DisplayFor(E => Employee.Salary)</td>
                    <td>
                        @if(Employee.IsActive == true)
                        {
                            <i class="fa-solid fa-circle" style="color:green"></i>
                        }
                        else{
                        <i class="fa-solid fa-circle" style="color:red"></i>

                        }
                    </td>

                    <partial name="_ButtonsPartialView" model="@Employee.Id"/>
                    
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        No Employee creation
    </div>
}
